{% extends 'base/base.html' %}
{% block body %}
<div class="container" xmlns="http://www.w3.org/1999/html">
	<div class="row clearfix">
		<div class="col-md-12 column">
            <h1 class="text-center">Receitas</h1>
            <br/><p/>
            <div class="row clearfix">
				<div class="col-md-4 column">
                    <center>
                        <a href="/recipe/breakfast">
                            <img alt="140x140" src="http://s2.postimg.org/r35y12ok5/cafe_manha.jpg" class="img-circle">
                        </a>
                        <h3 class="sombra2">
                            <a href="/recipe/breakfast">Café da manhã</a>
                        </h3>
                    </center>
				</div>
				<div class="col-md-4 column">
                    <center>
                        <a href="/recipe/lunch">
                            <img alt="140x140" src="http://s1.postimg.org/t5riixs17/almoco.jpg" class="img-circle">
                        </a>
                        <h3 class="sombra2">
                            <a href="/recipe/lunch">Almoço</a>
                        </h3>
                    </center>
				</div>
				<div class="col-md-4 column">
                    <center>
                        <a href="/">
                            <img alt="140x140" src="http://s9.postimg.org/inhyqrovv/sobremesa.jpg" class="img-circle">
                        </a>
                        <h3 class="sombra2">
                            <a href="/">Sobremesa</a>
                        </h3>
                    </center>
				</div>
			</div><br/><p/><br/>
			<div class="row clearfix">
				<div class="col-md-4 column">
                    <center>
                        <a href="/recipe/snack">
                            <img alt="140x140" src="http://s11.postimg.org/b8jzvid0v/cafe_tarde.jpg" class="img-circle">
                        </a>
                        <h3 class="sombra2">
                            <a href="/recipe/snack">Café da tarde</a>
                        </h3>
                    </center>
				</div>
				<div class="col-md-4 column">
                    <center>
                        <a href="/recipe/dinner">
                            <img alt="140x140" src="http://s29.postimg.org/kd3hzuumb/jantar.jpg" class="img-circle">
                        </a>
                        <h3 class="sombra2">
                            <a href="/recipe/dinner">Jantar</a>
                        </h3>
                    </center>
				</div>
				<div class="col-md-4 column">
                    <center>
                        <a href="/">
                            <img alt="140x140" src="http://s24.postimg.org/gpjxjwygh/salgados.jpg" class="img-circle">
                        </a>
                        <h3 class="sombra2">
                            <a href="/">Festas</a>
                        </h3>
                    </center>
				</div>
			</div>

		</div>
	</div>
</div>

{% endblock %}
