{% extends 'categorias/categoria_base.html' %}
{% block body %}
{% set categoria = categoria or None %}
{% set erros = erros or None %}
<div class="container" xmlns="http://www.w3.org/1999/html">
	<div class="row clearfix">
		<div class="col-md-12 column">
            <h1 class="text-center">Formulário de Categorias</h1>
            <br/><p/>
            <form action="{{ salvar_path }}" method="post" style="width:400px; margin: 0 auto;">
                {{ csrf_input() }}
                {{ form_input('Nome','nome',categoria.nome,erros.nome) }}
                {% if categoria and categoria.key %}
                <input type="hidden" name="categoria_id" value="{{ categoria.key.id() }}" />
                {% endif %}
                <button class="btn btn-success" type="submit">Salvar</button>
            </form>
		</div>
	</div>
</div>
{% endblock %}