{% extends 'base/base.html' %}
{% block css %}
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap-social.css" xmlns="http://www.w3.org/1999/html"/>
    <link rel="stylesheet" href="/static/font-awesome-4.2.0/css/font-awesome.min.css"/>
{% endblock %}
{% block js %}
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
{% endblock %}
{% block body %}
<div class="container">
	<div class="row clearfix">
		<div class="col-md-12 column">
            <h1 class="text-center">Desenvolvido por...</h1><br/><p/>
            <div class="col-md-6 column">
				<center>
                    <img alt="140x140" src="https://lh3.googleusercontent.com/-MvN39qg3kFY/AAAAAAAAAAI/AAAAAAAADBE/vmH-Xamr0t8/s120-c/photo.jpg" class="img-circle" />
                </center><br/>
                <center>
                    <a href="https://plus.google.com/u/0/107416738461245567579/posts" class="btn btn-social btn-google-plus"><i
                            class="fa fa-google-plus"></i>Google</a>
                    <a href="https://www.facebook.com/profile.php?id=100001216642096" class="btn btn-social btn-facebook"><i
                            class="fa fa-facebook"></i>Facebook</a>
                </center>
			</div>
			<div class="col-md-6 column">
				<p class="text-left">
                    <br/>
                    <h4>Sobre mim...</h4>
					<p>
                        Me chamo <strong>Karen Yasmin de Oliveira Vicente</strong>, sou estudante de Análise e Desenvolvimento de Sistemas
					    na <strong>FATEC</strong> de São José dos Campos.
                    </p>
                    <hr/>
                    <h4>A idéia do projeto...</h4>
                    <p>
                        O projeto Cooking+ tem como objetivo facilitar e automatizar o ramo da culinária.
                    </p>
                    <p>
                        Voltado a todas aquelas pessoas que adoram cozinhar e apreciam a culinária, esse site traz
                        opções e variedades para você. Como:
                        <ul>
                            <li>
                                Procurar receitas do mundo todo
                            </li>
                            <li>
                                Enviar suas receitas para o site
                            </li>
                            <li>
                                Criar seu livro de receitas Online, gerenciar e baixar
                            </li>
                            <li>
                                Procurar receitas com ingredientes que você tem na sua casa
                            </li>
                            <li>
                                Receitas recomendadas, para quem quer uma alimentação mais saudável de acordo com peso/idade
                            </li>
                            <li>
                                Receitas aleatórias, para quem busca desafio na cozinha
                            </li>
                            <li>
                                e etc...
                            </li>
                        </ul>
                    </p>
                    <p>
                        Nosso lema é "Você cozinha e nós pensamos por você!". Te ajudamos a cozinhar a partir
                        da sua necessidade. Pois buscamos sempre o conforto e facilidade para você.
                    </p>
                    <p>
                        Junte-se a nós, e venha conhecer os segredos da culinária.
                    </p>
				</p>
			</div>

		</div>
	</div>
</div>

{% endblock %}
