{% extends 'base/base.html' %}
{% block body %}
<div class="container" xmlns="http://www.w3.org/1999/html">
	<div class="row clearfix">
		<div class="col-md-12 column">
            <h1 class="text-center">Receitas - Almoço</h1>
            <br/><p/>

            <div class="col-md-12 column">
                <h4><strong><a href="#">Macarrão</a></strong></h4>
                <img alt="140x140" src="http://www.cozinhabrasileira.com/thumbnail.php?imagem=painel/files/4BCFB.jpg&l=260&a=180" class="img-thumbnail" />

                <p>
                    Receita de macarrão para almoço.
                </p>
                <p>
                    <a class="btn" href="">Ler mais</a>
                </p>
                <p></p>
                <p>
                    <span class="glyphicon glyphicon-user"></span>&nbsp;Por <a href="#">John</a>
                  | <span class="glyphicon glyphicon-calendar"></span>&nbsp;16 de Setembro de 2014
                  | <span class="glyphicon glyphicon-comment"></span><a href="#">&nbsp;3 Comentários</a>
                  | <span class="glyphicon glyphicon-share"></span><a href="#">&nbsp;39 Shares</a>
                  | <span class="glyphicon glyphicon-tags"></span>&nbsp;Tags :
                    <a href="#"><span class="label label-warning">Almoço</span></a>
                    <a href="#"><span class="label label-warning">Macarrão</span></a>
                </p>
               <hr/>
		    </div><br/><p/>

            <div class="col-md-12 column">
                <h4><strong><a href="#">Strogonoff de frango</a></strong></h4>
                <img alt="140x140" src="http://www.cozinhabrasileira.com/thumbnail.php?imagem=painel/files/E35CD.jpg&l=260&a=180" class="img-thumbnail" />

                <p>
                    Receita de Strogonoff de frango para almoço.
                </p>
                <p>
                    <a class="btn" href="">Ler mais</a>
                </p>
                <p></p>
                <p>
                    <span class="glyphicon glyphicon-user"></span>&nbsp;Por <a href="#">John</a>
                  | <span class="glyphicon glyphicon-calendar"></span>&nbsp;16 de Setembro de 2014
                  | <span class="glyphicon glyphicon-comment"></span><a href="#">&nbsp;3 Comentários</a>
                  | <span class="glyphicon glyphicon-share"></span><a href="#">&nbsp;39 Shares</a>
                  | <span class="glyphicon glyphicon-tags"></span>&nbsp;Tags :
                    <a href="#"><span class="label label-warning">Almoço</span></a>
                    <a href="#"><span class="label label-warning">Macarrão</span></a>
                </p>
               <hr/>
		    </div><br/><p/>

		</div>
	</div>
</div>

{% endblock %}
