{% extends 'base/base.html' %}
{% block body %}
<div class="container">
	<div class="row clearfix">
		<div class="col-md-12 column">
            <h1 class="text-center">Dicas</h1>
            <br/><p/>
            <div class="row clearfix">
				<div class="col-md-4 column">
                    <center>
                        <a href="/">
                            <img alt="140x140" src="http://s3.postimg.org/u5d4w8fb3/comida_aleatoria.jpg" class="img-circle">
                        </a>
                        <h3 class="sombra2">
                            <a href="/">Receita Aleatória</a>
                        </h3>
                        <p>
                            Quer uma Dica do que cozinhar hoje?
                        </p>
                        <p>
                            <a href="#">Clique aqui</a>
                        </p>
                    </center>
				</div>
				<div class="col-md-4 column">
                    <center>
                        <a href="/">
                            <img alt="140x140" src="http://s22.postimg.org/yvvvzfmql/ingredientes.jpg" class="img-circle">
                        </a>
                        <h3 class="sombra2">
                            <a href="/">Não tem muitos ingredientes?</a>
                        </h3>
                         <p>
                            Receitas com os ingredientes que você tem em casa.
                        </p>
                        <p>
                            <a href="#">Clique aqui</a>
                        </p>
                    </center>
				</div>
				<div class="col-md-4 column">
                    <center>
                        <a href="/">
                            <img alt="140x140" src="http://s24.postimg.org/g8i9p07tt/chef.jpg" class="img-circle">
                        </a>
                        <h3 class="sombra2">
                            <a href="/">Dicas de outras pessoas</a>
                        </h3>
                        <p>
                            Dicas de quem cozinha como você.
                        </p>
                        <p>
                            <a href="#">Clique aqui</a>
                        </p>
                    </center>
				</div>
			</div><br/><p/><br/>
            <div class="row clearfix">
				<div class="col-md-4 column">
                    <center>
                        <a href="/">
                            <img alt="140x140" src="http://s28.postimg.org/u6dee90ih/salada.jpg" class="img-circle">
                        </a>
                        <h3 class="sombra2">
                            <a href="/">Alimentação saudável</a>
                        </h3>
                        <p>
                            Receitas direcionadas a quem quer uma alimentação mais saudável
                        </p>
                        <p>
                            <a href="#">Clique aqui</a>
                        </p>
                    </center>
				</div>
			</div>

		</div>
	</div>
</div>

{% endblock %}
